<!DOCTYPE html>
<html>
  <head>
    <title>New Random Number</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div>
      <a href="/">Home</a>
    </div>

    <h1>New Random Number</h1>

    <form action="/random/results">
      <div>
        <label for="user_min">Minimum</label>
      </div>
      <div>
        <input type="text" name="min" id="user_min" placeholder="Enter minimum">
      </div>

      <div>
        <label for="user_max">Maximum</label>
      </div>
      <div>
        <input type="text" name="max" id="user_max" placeholder="Enter maximum">
      </div>
      <button>Pick random number</button>
    </form>
  </body>
</html>
