<!DOCTYPE html>
<html>
  <head>
    <title>New Square Root Calculation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div>
      <a href="/">Home</a>
    </div>

    <h1>New Square Root Calculation</h1>

    <form action="/square_root/results">
      <div>
        <label for="user_number">Enter a number</label>
      </div>
      <div>
        <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square root of?">
      </div>
      <button>Calculate square root</button>
    </form>
  </body>
</html>
