<!DOCTYPE html>
<html>
  <head>
    <title>Random Number Results</title>
  </head>
  <body>
    <h1>Random Number Results</h1>
    <p>A random number between <%= @min %> and <%= @max %> is <%= @random %>.</p>
    <a href="/">Go Back</a>
  </body>
</html>
