<!DOCTYPE html>
<html>
  <head>
    <title>Square Root Results</title>
  </head>
  <body>
    <h1>Square Root Results</h1>
    <p>The square root of <%= @number %> is <%= @square_root %>.</p>
    <a href="/">Go Back</a>
  </body>
</html>
